@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World from Visualpath Online Training program for Azure DevSecOps</h1>
    <p>For mor einformation <a href="https://www.visualpathedu.com/home">, please contact the URL provided</a>.</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>
